{
  "env" : {
    "browser": true,
    "es2017" : true
  },
  "extends": "eslint:recommended",
  "parser" : "babel-eslint",
  "parserOptions": {

    "sourceType": "module"
  },
  "globals" : {
    "jQuery": "readonly",
    "$": "readonly",
    "utils": "readonly"
  },
  "rules" : {
    "semi" : ["error", "always", {
      "omitLastInOneLineBlock": true
      }]
  }
}
