@use "class/observer" as *;
@use "class/swiper" as *;

.swiper-slide img {
  width: 100%;
}
.l-head {
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.tab {
  display: inline-block;
  line-height: 30px;
  border-radius: 10px;
  background: #CBB279;
  color: white;
  padding: 0 10px;
}

* {
  margin: 0;
  padding: 0;
}

.test {
  width: 100%;
  object-fit: cover;
}
.text {
  text-align: center;

  font-size: 20px;
}

